body{
    background: #deecdf;
}
.navbar-wrapper{
    background-image: url("../image/images/1.png");
}
.marketing .col-lg-3 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-3 p {
    margin-right: 10px;
    margin-left: 10px;
}
.top{
	margin-top: 40px;
}
 a:hover{
 	color: black;
 	text-decoration: none;
 }

 footer{
 	margin-top: 40px;
 	text-align: center;
 }