body{
    background-color: rgba(249, 255, 237, 0.98);
}
/*.container-fluid{*/
    /*background-color: #c7c5c5;*/
/*}*/
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}
